PORT=3000
MONGODB_URI=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
JWT_SECRET=zafran_jwt_secret_key
ADMIN_EMAIL=admin@zafran.com
ADMIN_PASSWORD=admin1234
VITE_BACKEND_URL=
GEMINI_API_KEY=
